.THIS .slds-form--inline .slds-form-element__row {
  margin-bottom: 0.5rem;
}

.THIS .slds-form--inline .slds-form-element__row + .slds-form-element__row {
    clear: both;
}

.THIS .slds-form--inline .slds-form-element__control {
  display: inline-block;
  position: relative;
}

.THIS .slds-form--inline .slds-form-element__control + .slds-form-element__control {
    padding-left: 0.5rem;
}

@media (min-width: 48em) {
    .THIS .slds-form--inline .slds-form-element__label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}